      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2022 <a href="https://www.linkedin.com/in/omaraafat14/">Omar Raafat</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" class="text-dark" href="https://github.com/omarraafat14"><i class="fab fa-lg fa-brands fa-github"></i></a>
            <a target="_blank" href="https://www.facebook.com/omaraafat14/"><i class="fab fa-lg  fa-facebook"></i></a>
            <a target="_blank"  href="https://www.linkedin.com/in/omaraafat14/"><i class="fab fa-lg fa-linkedin-in"></i></a>
        </div>
      </footer>